.seasons {
	&__inner {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
		grid-gap: 100px 75px;
		counter-reset: counter;
		padding-top: 50px;
	}
	&__item {
		height: 250px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		list-style: none;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			content: '0' counter(counter);
			counter-increment: counter;
			position: absolute;
			font-weight: bold;
			font-size: 96px;
			line-height: 112px;
			color: #600E09;
			left: 0;
			top: -72px;
			z-index: -1;
		}
		&:nth-child(n+10)::before {
			content: '0' counter(counter); 
		}
		&:hover {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(14, 14, 14, 0.8);
			}
			.seasons__link {
				opacity: 1;
			}
		}
	}
	&__link {
		font-size: 36px;
		line-height: 42px;
		padding: 12px 78px 11px;
		background-color: #0E0E0E;
		opacity: 0;
		transition: all .3s;
		z-index: 2;
	}
}