.page-header {
	background-image: url('../images/dest/season-bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 90vh;
	position: relative;
}
.page-logo {
	position: absolute;
	left: 0;
}
.menu__container {
	max-width: 1385px;
	margin: 0 auto;
	position: relative;
}
.page-logo {
	position: absolute;
}
.season {
	&-info {
		position: absolute;
		max-width: 1385px;
		display: flex;
		padding: 44px 47px 64px 35px;
		background-color: #0E0E0E;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	&-info__num {
		font-weight: bold;
		font-size: 96px;
		line-height: 56px;
		text-align: center;
		margin-right: 51px;
		span {
			display: block;
			line-height: 42px;
			font-size: 36px;
		}
	}
	&-info__text {
		p {
			margin-bottom: 15px;
		}
	}
}